h1{font-size:1.8em; page-break-before:always}
h2{font-size:1.6em}
h3{font-size:1.4em}
h4{font-size:1.2em}
h5{font-weight:bold}
h6{font-style:italic}

p, li, td, dd, h1, h2, h3, h4, h5, h6{line-height:1.3em;}

li, dl{margin:0.5em 0 0.5em 0}

sup{vertical-align:super; font-size:0.7em}
sub{vertical-align:sub; font-size:0.7em}

table{margin:2em auto 2em auto; text-align:center; border-collapse:collapse }
th {font-weight:bold}
td, th{ padding:0em 0.2em 0.6em 0; vertical-align:middle }
td{ border-top:0.1em solid #808080;}

i, .italic{font-style:italic}
b, .bold{font-weight:bold}
u, .underline{text-decoration:underline}

/* scale to max screen width */
#epub-cover-image-container {text-align:center; height:100%;}
#epub-cover-image-container img {text-align:center; max-height:100%;}
img { max-width:100%; }
img + img { margin-top:1em; }

/* toc */
.toc-entry {margin-top:0.5em; margin-bottom:0.5em;}
.toc-entry a {text-decoration:none; color:#000}
.toc-level-h1{ font-weight:bold; margin-top:1em; }
.toc-level-h2{ margin-left: 1em }
.toc-level-h3{ margin-left: 2em }
.toc-level-h4{ margin-left: 3em }
.toc-level-h5{ margin-left: 4em }
.toc-level-h6{ margin-left: 5em }

/* index */
.index_primary a {text-decoration:none; color:#000;} 
.index_primary {margin-top:1em; margin-bottom:0em}
.index_secondary{margin-left:1em; margin-top:0em;}
.index_tertiary{margin-left:2em; margin-top:0em}


/* endnotes */
dt.endnote{margin-bottom:-2em}

a, a:visited, a:focus{text-decoration:none}